h1{
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
.navigation{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.navigation_bar{
    width: auto;
    float: left;
    margin-top: 5px;
}
li{
    padding: 17px 30px;
    display: inline-block   
}
.li_skills{
    padding: 5px;
    display: list-item;
}
a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
a:hover{
    color: yellow;
    transition: 0.5s;
}
img{
    border-radius: 30%;
}
iframe{
    height: 35%;
    border-radius: 10px;
    border-color: black;
}
table{
    border-collapse: collapse;  
    border-radius: 10px;
}
table, th, td{
        padding: 5px;
        border-style: solid;
        border-color: black;
        border-width: 2px;
}